<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

  <header>
    <div class="logo">
      <a href="index.html">
        <h1><img src="folder.png" height="30px"> GoGoGogy</h1>
      </a>
    </div>
    <nav>
      <a href="results.html">Make Plan</a>
      <a href="pedagogy.html">What's Pedagogy?</a>
      <a class="selected" href="./about.html">About</a>
    </nav>
  </header>

  <div class="about">
    <h1 id="about-heading">About Us</h1>
    <img src="about.jpeg" height="300px">
    <div id="caption">
      <p>Left to right: Kyrylo Bakumenko, Ashley Goh (plus Emma Yu)</p>
    </div>
    <div id="about-paragraph">
      <p>GoGoGogy was created with ♥ and lots of coffee as part of HackDartmouth IX.</p>
      <p id="contact">Contact us at bakyugoh@gmail.com</p>
    </div>
  </div>

  <footer>
    <div>
      
    </div>
  </footer>

</html>