<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pedagogy</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<header>
  <div class="logo">
    <a href="index.html">
      <h1><img src="folder.png" height="30px"> GoGoGogy</h1>
    </a>
  </div>
  <nav>
    <a href="results.html">Make Plan</a>
    <a class="selected" href="pedagogy.html">What's Pedagogy?</a>
    <a href="about.html">About</a>
  </nav>
</header>

  <main class="pedagogy-page">
    <h1 class="pedagogy-heading">Teaching the right way.</h1>
    <div id="define">
      <p><a id="emphasis">Pedagogy</a> ("peh-duh-gah-jee") is the method of teaching to structure lessons to<a id="emphasis-red"> best suit students' needs</a>.
        This approach can vary based on factors such as subject, age of students, and goals.
        Some pedagogical models include small group discussion, peer interaction, inquiry-based learning, differentiated instruction, and project-based learning.
      </p>
    </div>
    <div id="explain">
      <h4>So what does this mean?</h4>
      <p><a id="emphasis">GoGoGogy</a> uses these learning models and works with AI to build lesson plans based on the topic, number of students, and duration information you provide.  We do the work to make the best possible lesson for you and your classroom!</p>
    </div>
  </main>

  <footer>
    <div>
      
    </div>
  </footer>

</html>